

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.35rem;
    padding: 1.075rem;
    box-shadow: 5px 5px 45px hsl(220, 15%, 80%);
}

p{
    font-weight: 400;
    color: hsl(0, 0%, 57%);
    font-size: 12px;
}

.titre {
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
}

img{
    border-radius: 3%;
    width: 18.75rem;
    max-width: 100%;
}

